body {
    font-size: 24px;
    font-family: "Arial", Serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 16px 0 0;
}

hr {
    width: 100%;
}

Button {
    flex-grow: 1;
    cursor: pointer;
}

Button:disabled {
    cursor: not-allowed;
}

#menu {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

#gridSize {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 8px;
    place-content: space-evenly;
}

#gridSizeInput {
    width: 64px;
    font-size: 20px;
}

#borderColorPicker {
    width: 100%;
    cursor: pointer;
}

#gridThickness {
    display: flex;
    flex-flow: row;
    gap: 8px;
    width: 100%;
}

#displays {
    display: flex;
    flex-flow: row;
    gap: 8px;
    width: 100%;
}

#tableList {
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.displayItem {
    padding-right: 8px;
    border-right: 1px solid black;
    display: flex;
    flex-flow: column;
    gap: 8px;
    flex-grow: 1;
}

.displayItem h6 {
  margin: 0;
}

.displayItem:last-of-type {
    padding-right: 0;
    border-right: none;
}

.headerWithTitleAndElement {
    width: 100%;
    display: flex;
    place-content: space-between;
    margin-top: 16px
}

.headerWithTitleAndElement:first-of-type {
  margin: 0;
}

.headerWithTitleAndElement h5 {
  margin: 0;
}

#reloadDisplays {
  flex-grow: unset;
}

#gridToggle {
  flex-grow: unset;
}

#itemOptions {
    margin-bottom: 16px;
    display: flex;
    width: 100%;
    gap: 8px;
}

#itemOptions button {
    font-size: 18px;
    flex-grow: 1;
}

table {
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
}
table td {
    padding: 6px;
}

table thead td {
    background-color: #54585d;
    color: #ffffff;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #54585d;
}

table tbody td {
    color: #636363;
    border: 1px solid #dddfe1;
}

table tbody tr {
    background-color: #f9fafb;
    font-size: 13px;
    cursor: pointer;
}

table tbody tr.active {
    background-color: thistle;
    font-size: 13px;
}

table tbody tr:hover {
    background: #dddfe1;
}

table tbody tr input {
    border: none;
    display: inline;
    font-family: inherit;
    font-size: inherit;
    background: inherit;
    padding: 0;
    width: 100%;
}

table tbody tr .actions-td {
  display: flex;
  flex-flow: row;

  gap: 8px;
}
