body {
    font-size: 24px;
    font-family: "Arial", Serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 16px 0 0;
}

h5:first-of-type {
    margin: 0;
}

hr {
    width: 100%;
}

Button {
    flex-grow: 1;
    cursor: pointer;
}

Button:disabled {
    cursor: not-allowed;
}

#menu {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

#gridSize {
    width: 100%;
    display: flex;
    flex-flow: row;
    gap: 8px;
    place-content: space-evenly;
}

#gridSizeInput {
    width: 64px;
    font-size: 20px;
}

#borderColorPicker {
    width: 100%;
}

#gridThickness {
    display: flex;
    flex-flow: row;
    gap: 8px;
    width: 100%;
}

#displays {
    display: flex;
    flex-flow: row;
    gap: 8px;
    width: 100%;
}

.displayItem {
    padding-right: 8px;
    border-right: 1px solid black;
    display: flex;
    flex-flow: column;
    gap: 8px;
    flex-grow: 1;
}

.displayItem:last-of-type {
    padding-right: 0;
    border-right: none;
}
